
$primary: #92B4EC;
$primary-o: darken($primary, 10);
$primary-xo: darken($primary, 20);

$secondary: #112B3C;
$secondary-l: lighten($secondary, 10);
$secondary-o: darken($secondary, 10);

$font-text: 'Open Sans', sans-serif;

$color-text: #f2f7ff